@font-face {
  font-family: 'ibc-icons';
  src:  url('fonts/ibc-icons.eot?moocz6');
  src:  url('fonts/ibc-icons.eot?moocz6#iefix') format('embedded-opentype'),
    url('fonts/ibc-icons.woff2?moocz6') format('woff2'),
    url('fonts/ibc-icons.ttf?moocz6') format('truetype'),
    url('fonts/ibc-icons.woff?moocz6') format('woff'),
    url('fonts/ibc-icons.svg?moocz6#ibc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ibc-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ibc-akt:before {
  content: "\e900";
}
.ibc-atom:before {
  content: "\e901";
}
.ibc-band:before {
  content: "\e90a";
}
.ibc-btsg:before {
  content: "\e902";
}
.ibc-cro:before {
  content: "\e903";
}
.ibc-dvpn:before {
  content: "\e904";
}
.ibc-erowan:before {
  content: "\e905";
}
.ibc-evmos:before {
  content: "\e906";
}
.ibc-iov:before {
  content: "\e907";
}
.ibc-juno:before {
  content: "\e908";
}
.ibc-kava:before {
  content: "\e909";
}
.ibc-mntl:before {
  content: "\e90b";
}
.ibc-neta:before {
  content: "\e90d";
}
.ibc-osmo:before {
  content: "\e90e";
}
.ibc-regen:before {
  content: "\e90f";
}
.ibc-rune:before {
  content: "\e910";
}
.ibc-scrt:before {
  content: "\e911";
}
.ibc-stars:before {
  content: "\e912";
}
.ibc-umee:before {
  content: "\e913";
}
.ibc-xprt:before {
  content: "\e914";
}
