@font-face {
  font-family: 'ibc-icons';
  src:  url('fonts/ibc-icons.eot?tgfdaf');
  src:  url('fonts/ibc-icons.eot?tgfdaf#iefix') format('embedded-opentype'),
    url('fonts/ibc-icons.woff2?tgfdaf') format('woff2'),
    url('fonts/ibc-icons.ttf?tgfdaf') format('truetype'),
    url('fonts/ibc-icons.woff?tgfdaf') format('woff'),
    url('fonts/ibc-icons.svg?tgfdaf#ibc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ibc-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ibc-akt:before {
  content: "\e900";
}
.ibc-atom:before {
  content: "\e901";
}
.ibc-band:before {
  content: "\e902";
}
.ibc-bcna:before {
  content: "\e903";
}
.ibc-btsg:before {
  content: "\e904";
}
.ibc-cmdx:before {
  content: "\e905";
}
.ibc-cre:before {
  content: "\e906";
}
.ibc-cro:before {
  content: "\e907";
}
.ibc-ctk:before {
  content: "\e908";
}
.ibc-dsm:before {
  content: "\e909";
}
.ibc-dvpn:before {
  content: "\e90a";
}
.ibc-erowan:before {
  content: "\e90b";
}
.ibc-evmos:before {
  content: "\e90c";
}
.ibc-fet:before {
  content: "\e90d";
}
.ibc-huahua:before {
  content: "\e90e";
}
.ibc-inj:before {
  content: "\e923";
}
.ibc-ion:before {
  content: "\e90f";
}
.ibc-iov:before {
  content: "\e924";
}
.ibc-iris:before {
  content: "\e925";
}
.ibc-juno:before {
  content: "\e926";
}
.ibc-kava:before {
  content: "\e927";
}
.ibc-med:before {
  content: "\e928";
}
.ibc-mntl:before {
  content: "\e929";
}
.ibc-neta:before {
  content: "\e92a";
}
.ibc-ngm:before {
  content: "\e92b";
}
.ibc-osmo:before {
  content: "\e92f";
}
.ibc-regen:before {
  content: "\e930";
}
.ibc-rune:before {
  content: "\e931";
}
.ibc-scrt:before {
  content: "\e932";
}
.ibc-stars:before {
  content: "\e933";
}
.ibc-umee:before {
  content: "\e934";
}
.ibc-xki:before {
  content: "\e935";
}
.ibc-xprt:before {
  content: "\e936";
}
